<% @page_title ="New Subject" %>

<%= link_to("<< Back to list", {:action => 'list', :subject_id => @subject.id}, :class => 'back-link') %>

<div class = "section New">
  <h2>Show Pages</h2>

 <%= form_for(:page, :url => {:action => 'create', :subject_id => @subject.id}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

	<div class="form-buttons">
         	<%= submit_tag("create page") %> 
	</div>

  <% end %>
</div>
