<% @page_title = "Create Admin User" %>

<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link') %>

<div class = "user New">
  <h2>Create Admin User</h2>

 <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

 <%= render(:partial => "form", :locals => {:f => f}) %>

	<div class="form-buttons">
         	<%= submit_tag("Create subject") %> 
	</div>

  <% end %>
</div>
